<h2>Register System</h2>

<div class = "people_list">
    <ul>
        <li>Name: <input type="text" id="username" [(ngModel)]="peopleInfo.username" class="form_input"/></li>
        <li>Gender: 
            <input type="radio" value='1' name='sex' id='sex1' [(ngModel)]="peopleInfo.sex"><label for='sex1'>Male</label>
            <input type="radio" value='2' name='sex' id='sex2' [(ngModel)]="peopleInfo.sex"><label for='sex2'>Female</label>
        </li>

        <li>
            City:
            <select name="city" id = 'city' [(ngModel)]="peopleInfo.city">
                <option [value]="item" *ngFor="let item of peopleInfo.cityList" >{{item}}</option>
            </select>
        </li>

        <li>
            Hobby:
            <span *ngFor="let item of peopleInfo.hobby; let key=index">
                <input type='checkbox' [id]="'check'+key" [(ngModel)]="item.checked"/><label for= "'check'+key">{{item.title}}</label>
                &nbsp;
            </span>
        </li>

        <li>
            Notes:
            <textarea name="mark" id="mark" cols='30' row='10' [(ngModel)]="peopleInfo.mark"></textarea>
        </li>
    </ul>
    
    <button (click)="doSubmit()" class="submit">get form content</button>

    <br>
    <br>
    <br>
    <br>


    <pre>
        {{peopleInfo | json}}
    </pre>
</div>


